.nav {
  display: flex;
  justify-content: space-between;
}

.nav h1 a {
  color: green;
  text-decoration: none;
}

.nav h1 a:hover {
  text-decoration: underline;
}

.nav h1 {
  color: teal;
  margin: 0;
  font-size: 40px;
}

.nav ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  padding-left: 15px;
  padding-top: 15px;
}

.nav li a {
  text-decoration: none;
  color: teal;
  cursor: pointer;
}
.nav .nav-search {
  margin-top: 5px;
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
.nav .nav-search input {
  flex: 1;
  color: teal;
  border: 1px solid teal;
  height: 35px;
  border-right: 0px;
 
}

.nav .nav-search button {
  color: teal;
  border: 1px solid teal;
  height: 35px;
  border-left: 0px;
  cursor: pointer;
}


.suggested-search{
  position: absolute;
  top:40px;
  z-index: 10;
  display: block;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 300px;
}

.suggested-search li {
  padding: 5px;
  border: 1px solid #ddd;
  display: block;
}

.suggested-search li a{
  cursor: pointer;
  color: black;
  display: block;
}

