<div class="footer">
  <ul>
    <li>
      <a href="">Vendedor</a>
    </li>
    <li>
      <a href="">Politicas</a>
    </li>
    <li>
      <a href="">Termos e Condições</a>
    </li>
    <li>
      <a href="">Central de ajuda</a>
    </li>
    <li>
      <a href="">Novidades</a>
    </li>
    <li>
      <a href="">Facebook</a>
    </li>
    <li>
      <a href="">Youtube</a>
    </li>
    <li>
      <a href="">WebSite</a>
    </li>
    <li>
      <a href="">FAQ</a>
    </li>
  </ul>
  <p>&#169; 2024 Loja Online | varejista&#64;gmail.com</p>
</div>
