<div class="my-orders">
  <h1>Meus Pedidos</h1>
  <div class="row">
    <div class="col-sm-2">
      <span>Pedido</span>
    </div>
    <div class="col-sm-2">
      <span>Codigo do Pedido</span>
    </div>
    <div class="col-sm-2">
      <span>Preço do Pedido</span>
    </div>
    <div class="col-sm-2">
      <span>Status do Pedido</span>
    </div>
    <div class="col-sm-2">
      <span>Ação</span>
    </div>
    <div class="row order-data" *ngFor="let order of orderData">
      <div class="col-sm-2">
        <img
          class="order-img"
          src="https://picsum.photos/seed/picsum/200/300"
        />
      </div>
      <div class="col-sm-2">
        <span>{{ order.id }}</span>
      </div>
      <div class="col-sm-2">
        <span>{{ order.totalPrice }}</span>
      </div>
      <div class="col-sm-2">
        <span>Em Processo</span>
      </div>
      <div class="col-sm-2">
        <span
          ><button class="form-button" (click)="cancelOrder(order.id)">
            Cancelar Pedido
          </button></span
        >
      </div>
    </div>
  </div>
</div>
